In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('gapminder2007.csv')

In [4]:
asia_df = df[df['continent'] == 'Asia']
print(asia_df)

                country         pop continent  lifeExp     gdpPercap
0           Afghanistan    31889923      Asia   43.828    974.580338
7               Bahrain      708573      Asia   75.635  29796.048340
8            Bangladesh   150448339      Asia   64.062   1391.253792
18             Cambodia    14131858      Asia   59.723   1713.778686
24                China  1318683096      Asia   72.961   4959.114854
55     Hong Kong, China     6980412      Asia   82.208  39724.978670
58                India  1110396331      Asia   64.698   2452.210407
59            Indonesia   223547000      Asia   70.650   3540.651564
60                 Iran    69453570      Asia   70.964  11605.714490
61                 Iraq    27499638      Asia   59.545   4471.061906
63               Israel     6426679      Asia   80.745  25523.277100
66                Japan   127467972      Asia   82.603  31656.068060
67               Jordan     6053193      Asia   72.535   4519.461171
69     Korea, Dem. Rep.    23301725      Asia   67.297   1593.065480
70          Korea, Rep.    49044790      Asia   78.623  23348.139730
71               Kuwait     2505559      Asia   77.588  47306.989780
72              Lebanon     3921278      Asia   71.993  10461.058680
78             Malaysia    24821286      Asia   74.241  12451.655800
83             Mongolia     2874127      Asia   66.803   3095.772271
87              Myanmar    47761980      Asia   62.069    944.000000
89                Nepal    28901790      Asia   63.785   1091.359778
96                 Oman     3204897      Asia   75.640  22316.192870
97             Pakistan   169270617      Asia   65.483   2605.947580
101         Philippines    91077287      Asia   71.688   3190.481016
109        Saudi Arabia    27601038      Asia   72.777  21654.831940
113           Singapore     4553009      Asia   79.972  47143.179640
119           Sri Lanka    20378239      Asia   72.396   3970.095407
124               Syria    19314747      Asia   74.143   4184.548089
125              Taiwan    23174294      Asia   78.400  28718.276840
127            Thailand    65068149      Asia   70.616   7458.396327
137             Vietnam    85262356      Asia   74.249   2441.576404
138  West Bank and Gaza     4018332      Asia   73.422   3025.349798
139         Yemen, Rep.    22211743      Asia   62.698   2280.769906

In [6]:
print("Top 15 rows: \n",df.head(15))
print("Bottom 15 rows: \n",df.tail(15))

Top 15 rows:
                    country        pop continent  lifeExp     gdpPercap
0              Afghanistan   31889923      Asia   43.828    974.580338
1                  Albania    3600523    Europe   76.423   5937.029526
2                  Algeria   33333216    Africa   72.301   6223.367465
3                   Angola   12420476    Africa   42.731   4797.231267
4                Argentina   40301927  Americas   75.320  12779.379640
5                Australia   20434176   Oceania   81.235  34435.367440
6                  Austria    8199783    Europe   79.829  36126.492700
7                  Bahrain     708573      Asia   75.635  29796.048340
8               Bangladesh  150448339      Asia   64.062   1391.253792
9                  Belgium   10392226    Europe   79.441  33692.605080
10                   Benin    8078314    Africa   56.728   1441.284873
11                 Bolivia    9119152  Americas   65.554   3822.137084
12  Bosnia and Herzegovina    4552198    Europe   74.852   7446.298803
13                Botswana    1639131    Africa   50.728  12569.851770
14                  Brazil  190010647  Americas   72.390   9065.800825
Bottom 15 rows:
                  country        pop continent  lifeExp     gdpPercap
127             Thailand   65068149      Asia   70.616   7458.396327
128                 Togo    5701579    Africa   58.420    882.969944
129  Trinidad and Tobago    1056608  Americas   69.819  18008.509240
130              Tunisia   10276158    Africa   73.923   7092.923025
131               Turkey   71158647    Europe   71.777   8458.276384
132               Uganda   29170398    Africa   51.542   1056.380121
133       United Kingdom   60776238    Europe   79.425  33203.261280
134        United States  301139947  Americas   78.242  42951.653090
135              Uruguay    3447496  Americas   76.384  10611.462990
136            Venezuela   26084662  Americas   73.747  11415.805690
137              Vietnam   85262356      Asia   74.249   2441.576404
138   West Bank and Gaza    4018332      Asia   73.422   3025.349798
139          Yemen, Rep.   22211743      Asia   62.698   2280.769906
140               Zambia   11746035    Africa   42.384   1271.211593
141             Zimbabwe   12311143    Africa   43.487    469.709298

In [7]:
life_exp = df[(df['lifeExp'] > 50) & (df['lifeExp'] < 80)]
print(life_exp)

                country       pop continent  lifeExp     gdpPercap
1               Albania   3600523    Europe   76.423   5937.029526
2               Algeria  33333216    Africa   72.301   6223.367465
4             Argentina  40301927  Americas   75.320  12779.379640
6               Austria   8199783    Europe   79.829  36126.492700
7               Bahrain    708573      Asia   75.635  29796.048340
..                  ...       ...       ...      ...           ...
135             Uruguay   3447496  Americas   76.384  10611.462990
136           Venezuela  26084662  Americas   73.747  11415.805690
137             Vietnam  85262356      Asia   74.249   2441.576404
138  West Bank and Gaza   4018332      Asia   73.422   3025.349798
139         Yemen, Rep.  22211743      Asia   62.698   2280.769906

[110 rows x 5 columns]

In [8]:
countries_df = df[df['country'].isin(['India', 'United States', 'France'])]
print(countries_df)

           country         pop continent  lifeExp     gdpPercap
44          France    61083916    Europe   80.657  30470.016700
58           India  1110396331      Asia   64.698   2452.210407
134  United States   301139947  Americas   78.242  42951.653090

In [10]:
a_countries = df[df['country'].str.startswith('A')]
print(a_countries)

       country       pop continent  lifeExp     gdpPercap
0  Afghanistan  31889923      Asia   43.828    974.580338
1      Albania   3600523    Europe   76.423   5937.029526
2      Algeria  33333216    Africa   72.301   6223.367465
3       Angola  12420476    Africa   42.731   4797.231267
4    Argentina  40301927  Americas   75.320  12779.379640
5    Australia  20434176   Oceania   81.235  34435.367440
6      Austria   8199783    Europe   79.829  36126.492700

In [14]:
continent_stats = df.groupby('continent').agg({'gdpPercap': ['min', 'max', 'mean'],'pop': ['min', 'max', 'mean']})
print(continent_stats)

              gdpPercap                                 pop              \
                    min          max          mean      min         max
continent
Africa       277.551859  13206.48452   3089.032605   199579   135031164
Americas    1201.637154  42951.65309  11003.031625  1056608   301139947
Asia         944.000000  47306.98978  12473.026870   708573  1318683096
Europe      5937.029526  49357.19017  25054.481636   301931    82400996
Oceania    25185.009110  34435.36744  29810.188275  4115771    20434176


                   mean
continent
Africa     1.787576e+07
Americas   3.595485e+07
Asia       1.155138e+08
Europe     1.953662e+07
Oceania    1.227497e+07

In [15]:
pop_life_exp = df[['country', 'pop', 'lifeExp']]
print(pop_life_exp)

                country       pop  lifeExp
0           Afghanistan  31889923   43.828
1               Albania   3600523   76.423
2               Algeria  33333216   72.301
3                Angola  12420476   42.731
4             Argentina  40301927   75.320
..                  ...       ...      ...
137             Vietnam  85262356   74.249
138  West Bank and Gaza   4018332   73.422
139         Yemen, Rep.  22211743   62.698
140              Zambia  11746035   42.384
141            Zimbabwe  12311143   43.487

[142 rows x 3 columns]

In [16]:
sorted_df = df.sort_values(by=['country', 'gdpPercap'], ascending=[True, False])
print(sorted_df)

                country       pop continent  lifeExp     gdpPercap
0           Afghanistan  31889923      Asia   43.828    974.580338
1               Albania   3600523    Europe   76.423   5937.029526
2               Algeria  33333216    Africa   72.301   6223.367465
3                Angola  12420476    Africa   42.731   4797.231267
4             Argentina  40301927  Americas   75.320  12779.379640
..                  ...       ...       ...      ...           ...
137             Vietnam  85262356      Asia   74.249   2441.576404
138  West Bank and Gaza   4018332      Asia   73.422   3025.349798
139         Yemen, Rep.  22211743      Asia   62.698   2280.769906
140              Zambia  11746035    Africa   42.384   1271.211593
141            Zimbabwe  12311143    Africa   43.487    469.709298

[142 rows x 5 columns]

In [17]:
top_20_popl= df.sort_values(by='pop', ascending=False).head(20)
print(top_20_popl)

              country         pop continent  lifeExp     gdpPercap
24              China  1318683096      Asia   72.961   4959.114854
58              India  1110396331      Asia   64.698   2452.210407
134     United States   301139947  Americas   78.242  42951.653090
59          Indonesia   223547000      Asia   70.650   3540.651564
14             Brazil   190010647  Americas   72.390   9065.800825
97           Pakistan   169270617      Asia   65.483   2605.947580
8          Bangladesh   150448339      Asia   64.062   1391.253792
94            Nigeria   135031164    Africa   46.859   2013.977305
66              Japan   127467972      Asia   82.603  31656.068060
82             Mexico   108700891  Americas   76.195  11977.574960
101       Philippines    91077287      Asia   71.688   3190.481016
137           Vietnam    85262356      Asia   74.249   2441.576404
47            Germany    82400996    Europe   79.406  32170.374420
38              Egypt    80264543    Africa   71.338   5581.180998
42           Ethiopia    76511887    Africa   52.947    690.805576
131            Turkey    71158647    Europe   71.777   8458.276384
60               Iran    69453570      Asia   70.964  11605.714490
127          Thailand    65068149      Asia   70.616   7458.396327
27   Congo, Dem. Rep.    64606759    Africa   46.462    277.551859
44             France    61083916    Europe   80.657  30470.016700

In [19]:
df = df[df['country'] != 'Angola']
print(df.head())

       country       pop continent  lifeExp     gdpPercap
0  Afghanistan  31889923      Asia   43.828    974.580338
1      Albania   3600523    Europe   76.423   5937.029526
2      Algeria  33333216    Africa   72.301   6223.367465
4    Argentina  40301927  Americas   75.320  12779.379640
5    Australia  20434176   Oceania   81.235  34435.367440

In [20]:
df.columns = [col.title() for col in df.columns]
print(df.head())

       Country       Pop Continent  Lifeexp     Gdppercap
0  Afghanistan  31889923      Asia   43.828    974.580338
1      Albania   3600523    Europe   76.423   5937.029526
2      Algeria  33333216    Africa   72.301   6223.367465
4    Argentina  40301927  Americas   75.320  12779.379640
5    Australia  20434176   Oceania   81.235  34435.367440

In [29]:
df.rename(columns={'Pop': 'Population', 'Gdppercap': 'GDP_Percap'}, inplace=True)
print(df.head())

       Country  Population Continent  Lifeexp    GDP_Percap
0  Afghanistan    31889923      Asia   43.828    974.580338
1      Albania     3600523    Europe   76.423   5937.029526
2      Algeria    33333216    Africa   76.301   6223.367465
4    Argentina    40301927  Americas   75.320  12779.379640
5    Australia    20434176   Oceania   81.235  34435.367440

C:\Users\dbda.STUDENTSDC\AppData\Local\Temp\ipykernel_22868\2140671891.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'Pop': 'Population', 'Gdppercap': 'GDP_Percap'}, inplace=True)

In [30]:
df.loc[df['Continent'] == 'Africa', 'Lifeexp'] += 2
print(df[df['Continent'] == 'Africa'][['Country', 'Lifeexp']].head())

         Country  Lifeexp
2        Algeria   78.301
10         Benin   62.728
13      Botswana   56.728
16  Burkina Faso   58.295
17       Burundi   55.580

In [32]:
na_rows = df[df.isna().any(axis=1)]
if na_rows.empty:
    print("No rows with NA values found in the DataFrame.")
else:
    print("Rows with NA values:")
    print(na_rows)

No rows with NA values found in the DataFrame.

In [33]:
if not df.isna().values.any():
    print("No NA values to fill in the original DataFrame.")
else:
    # Create a new copy for this operation
    df_filled = df.copy()
    numeric_cols = df_filled.select_dtypes(include=['number']).columns
    df_filled[numeric_cols] = df_filled[numeric_cols].fillna(0)
    print(df_filled.isna().sum())

No NA values to fill in the original DataFrame.